@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1170px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: #feafc3;
  color: #565C66;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.body__pink {
  background-color: #feafc3;
}

.body__blue {
  background-color: #69A9FF;
}

.body__yellow {
  background-color: #FCC850;
}

.main__container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */

.button {
  max-width: 300px;
  padding: 12px 34px;
  margin: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background-color: #FCFCFC;
  border: none;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  position: relative;
}

.button::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  position: absolute;
  top: -4px;
  left: -4px;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
}

.button:hover::after {
  border-color: #FCFCFC;
}

.button:active {
  background-color: #FCFCFC;
}

.button:active::after {
  border: 2px solid #2D3440;
  top: -2px;
  left: -2px;
}

.button:focus {
  background-color: rgba(252, 252, 252, 0.5);
}

.button:focus::after {
  border: 2px solid #2D3440;
  top: -2px;
  left: -2px;
}

.button:disabled {
  opacity: 40%;
}

.button:disabled::after {
  opacity: 40%;
}

.button__loading {
  padding-right: 56px;
}

.button__loading::before {
  content: url(../images/main__index/loading-icon-dark__main.svg);
  position: absolute;
  right: 32px;
  top: 14px;
}

.button__pink {
  color: #FCFCFC;
  background-color: #FF2F64;
  position: relative;
}

.button__pink::after {
  content: "";
  border: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
  position: absolute;
  top: -4px;
  left: -4px;
}

.button__pink:hover {
  color: #2D3440;
  background-color: #FCFCFC;
}

.button__pink:hover::after {
  border-color: #FF2F64;
}

.button__pink:active {
  background-color: #FEAFC3;
}

.button__pink:active::after {
  border: 2px solid #2D3440;
  top: -2px;
  left: -2px;
}

.button__pink:focus {
  background-color: #FF2F64;
}

.button__pink:focus::after {
  border: 2px solid #2D3440;
  top: -2px;
  left: -2px;
}

.button__pink:disabled {
  background-color: #B9B9B9;
}

.button__pink:disabled::after {
  border: 4px solid rgba(185, 185, 185, 0.3);
}

.button__pink__loading {
  padding-right: 56px;
}

.button__pink__loading::before {
  content: url(../images/main__index/loading-icon-light__main.svg);
  position: absolute;
  right: 32px;
  top: 14px;
}

.main__slider__pagination__button {
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
}

.main__slider__pagination__button:hover {
  border: 1px solid #FCFCFC;
}

.main__slider__pagination__button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
}

.main__slider__pagination__button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
}

.main__slider__pagination__button__current {
  background-color: #FCFCFC;
}

.main__slideshow__button {
  width: 38px;
  height: 38px;
  border: 2px solid #FCFCFC;
  border-radius: 50%;
  outline: none;
  background-color: rgba(252, 252, 252, 0.3);
}

.main__categories__button,
.catalog__results__button {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: 2px solid #FF2F64;
  outline: none;
  border-radius: 50%;
  background-color: #FF2F64;
  position: relative;
}

/* Кнопки каталога */

.catalog__filter__button {
  align-self: flex-end;
  padding: 8px 54px;
  background-color: rgba(252, 252, 252, 0.3);
  font-size: 14px;
}

.catalog__filter__button::after {
  width: 100%;
  height: 100%;
  border: 2px solid #FCFCFC;
  top: -2px;
  left: -2px;
}

.catalog__filter__button:hover {
  background-color: #FCFCFC;
}

.catalog__filter__button:hover::after {
  border-color: rgba(252, 252, 252, 0.3);
}

.catalog__filter__button:active {
  background-color: rgba(252, 252, 252, 0.5);
}

.catalog__filter__button:active::after {
  border: none;
}

.catalog__filter__button:focus {
  background-color: rgba(252, 252, 252, 0.3);
}

.catalog__filter__button:focus::after {
  border-color: #2D3440;
}

.catalog__filter__button:disabled {
  opacity: 40%;
}

.catalog__filter__button:disabled::after {
  opacity: 40%;
}

.catalog__pagination__button {
  width: 179px;
}

.catalog__pagination__button::after {
  width: 179px;
}

/* Шапка */

.header {
  color: #2D3440;
  line-height: 20px;
  width: 1170px;
  margin: 0 auto;
  display: flex;
  padding: 24px 0;
}

.header__logo__link {
  display: block;
  width: 137px;
  height: 56px;
  margin: 0;
}

.header__navigation {
  display: flex;
  margin-left: 16px;
  width: 1017px;
  justify-content: space-between;
  align-items: center;
}

.header__navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.header__navigation__item {
  position: relative;
}

.header__navigation__item__catalog {
  position: relative;
}

.header__navigation__item__catalog::after {
  content: url(../images/header/arrow-icon__header.svg);
  position: absolute;
  right: 17px;
  top: -2px;

}

.header__navigation__link {
  text-decoration: none;
  color: inherit;
  padding: 8px 16px;
}

.header__navigation__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.header__navigation__link:active {
  background-color: #FCFCFC;
  border-radius: 30px;
}

.header__navigation__link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
  padding-left: 14px;
  padding-right: 14px;
}

.header__navigation__link__catalog {
  padding-right: 38px;
}

.header__navigation__link__catalog:focus {
  padding-left: 14px;
  padding-right: 36px;
}

.phone__link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding: 0;
}

.header__navigation__list__leftside {
  max-width: 422px;
}

.header__navigation__list__rightside {
  max-width: 433px;
  column-gap: 17px;
  align-items: center;
  margin: 0;
}

.header__navigation__link__rightside {
  font-size: 14px;
  padding: 6px 16px 6px 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  display: block;
  max-width: 300px;
}

.header__navigation__link__rightside:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.header__navigation__link__rightside:active {
  background-color: #FCFCFC;
}

.header__navigation__link__rightside:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  padding: 6px 14px 6px 36px;
}

.search__link {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  position: relative;
}


.search__link::after {
  content: url(../images/header/search-icon__header.svg);
  position: absolute;
  left: 8px;
  top: 7px;
}

.search__link:focus {
  padding: 0;
  box-sizing: border-box;
}

.search__link:focus::after {
  left: 6px;
  top: 5px;
}

.login__link {
  position: relative;
}

.login__link::before {
  content: url(../images/header/log-in-icon__header.svg);
  position: absolute;
  left: 15px;
  top: 7px;
}

.login__link:focus::before {
  left: 10px;
}

.basket__link {
  position: relative;
}

.basket__link::before {
  content: url(../images/header/basket-icon__header.svg);
  position: absolute;
  left: 15px;
  top: 8px;
}

.basket__link:focus::before {
  left: 10px;
}

.header__navigation__link__current {
  background-color: #FF4A78;
  color: #FCFCFC;
  border-radius: 30px;
}

.header__navigation__link__current:hover {
  background-color: #FF4A78;
  opacity: 0.6;
}

.header__navigation__link__current:active {
  background-color: #FF4A78;
  opacity: 0.3;
}

.header__navigation__link__current:focus {
  background-color: #FF4A78;
  border: 2px solid #000000;
}

.basket__link__current::before {
  content: url(../images/header/basket-icon-white__header.svg);

}

/* Попапы */

.popup {
  color: #2D3440;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  position: absolute;
  top: 34px;
  right: 0;
  z-index: 1;
}

.popup__open {
  display: block;
}

.popup__basket {
  width: 441px;
  padding: 48px;
  box-sizing: border-box;
  display: none;
}

.popup__basket__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
}

.popup__basket__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  position: relative;
}

.popup__basket__list::after {
  content: "";
  width: 345px;
  border: 1px solid #E7E7E7;
  position: absolute;
  bottom: -32px;
}

.popup__basket__item {
  display: flex;
  align-items: center;
}

.popup__basket__title__minor__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 92px;
  margin-right: 72px;
  margin-left: 16px;
}

.popup__basket__title__minor {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.popup__basket__price__weight {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.popup__basket__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
  width: 55px;
}

.popup__basket__button__close {
  width: 16px;
  height: 16px;
  padding: 0;
  margin-left: 48px;
  background-color: #FCFCFC;
  border: none;
  background-image: url("../images/modal__popup/close-icon__popup.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popup__basket__price__final__wrapper {
  display: flex;
  margin-top: 32px;
  align-items: center;
}

.popup__basket__button {
  width: 198px;
}

.popup__basket__button::after {
  width: 198px;
}

.popup__basket__price__final {
  margin-left: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.popup__basket__empty {
  width: 288px;
  padding: 48px 0;
  box-sizing: border-box;
  display: none;
}

.popup__basket__empty__title {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.popup__login {
  width: 420px;
  padding: 48px 48px 52px 48px;
  box-sizing: border-box;
  display: none;
}

.popup__login__title {
  margin: 0;
  margin-bottom: 32px;
}

.popup__login__form {
  display: flex;
  flex-direction: column;
}

.popup__login__form__input {
  width: 324px;
  padding: 14px 152px 14px 16px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.popup__login__form__input__email {
  margin-bottom: 16px;
}

.popup__login__form__input__password {
  margin-bottom: 32px;
}

.popup__login__form__button__wrapper {
  display: grid;
  grid-template-columns: 114px 114px;
  column-gap: 23px;
}

.popup__login__form__button {
  width: 113px;
}

.popup__login__form__button::after {
  width: 113px;
}

.popup__login__form__link__wrapper {
  display: flex;
  flex-direction: column;
}

.popup__login__form__link {
  color: #2D3440;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.popup__search {
  width: 356px;
  padding: 24px 16px;
  box-sizing: border-box;
  display: none;
}

.popup__search__input {
  width: 324px;
  padding: 14px 152px 14px 16px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.popup__menu {
  min-width: 135px;
  padding: 8px 0;
  box-sizing: border-box;
  display: none;
}

.popup__menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.popup__menu__item__new {
  position: relative;
}

.popup__menu__item__new::after {
  content: "";
  width: 103px;
  border: 1px solid #B9B9B9;
  position: absolute;
  bottom: -2px;
  left: 16px;
}

.popup__menu__link {
  display: block;
  text-decoration: none;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  box-sizing: border-box;
}

.popup__menu__link__new {
  font-weight: 700;
  padding-bottom: 14px;
}

.popup__menu__link:hover {
  background-color: #FFCBD8;
}

.popup__menu__link:active {
  background-color: #FF7799;
}

.popup__menu__link:focus {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.header__navigation__link__catalog:focus + .popup__menu,
.search__link:focus + .popup__search,
.login__link:focus + .popup__login,
.basket__link:focus + .popup__basket {
  display: block;
}

/* Поля ввода главной страницы */

.main__form__input {
  height: 48px;
  padding: 14px 16px;
  box-sizing: border-box;
  color: #2D3440;
  background-color: #ffffff;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.main__form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}



.main__form__input:hover {
  border: 1px solid #2D3440;
}

.main__form__input:focus {
  border: 2px solid #2D3440;
  outline: 0;
  outline-offset: 0;
  padding-left: 15px;
}

.main__form__input:disabled,
.main__form__input:disabled:hover {
  background-color: #E7E7E7;
  border: 1px solid #B9B9B9;
}

.main__form__input:invalid {
  border: 1px solid #EA5454;
}

.main__form__input:invalid:hover {
  border: 2px solid #EA5454;
  padding-left: 15px;
}

/* Основная часть главной страницы*/

.main__index {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Слайдер */

.main__slider {
  padding-left: 70px;
  margin-bottom: 76px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main__slider__information__wrapper {
  margin: 0;
  margin-top: 136px;
}

.main__slider__information__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main__slider__title {
  color: #2D3440;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  max-width: 470px;
  margin: 0;
  margin-bottom: 24px;
}

.main__slider__text {
  font-size: 18px;
  line-height: 24px;
  max-width: 430px;
  margin: 0;
  margin-bottom: 48px;
}

.main__slider__pagination__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 156px;
  column-gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 5px;
}

.main__slider__pictures__wrapper {
  position: relative;
}

.main__slideshow__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  column-gap: 41px;
}

.main__slideshow__item__big {
  padding: 21px 21px 26px 21px;
  position: relative;
}

.main__slideshow__item__big::before {
  content: "";
  position: absolute;
  top: 121px;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: #FFCBD8;
  z-index: -1;
}

.main__slideshow__button__prev {
  position: absolute;
  left: 2px;
  top: 258px;
}

.main__slideshow__icon__prev {
  position: relative;
  left: -1px;
  top: 1px;
}

.main__slideshow__button__prev:hover {
  background-color: #FCFCFC;
}

.main__slideshow__button__prev:hover .main__slideshow__path__prev {
  fill: #2D3440;
}

.main__slideshow__button__prev:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
}

.main__slideshow__button__prev:active .main__slideshow__path__prev {
  fill: #2D3440;
}

.main__slideshow__button__prev:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: #2D3440;
}

.main__slideshow__button__prev:focus .main__slideshow__path__prev {
  fill: #2D3440;
}

.main__slideshow__button__prev:disabled {
  background-color: transparent;
  border-color: #FCFCFC;
  opacity: 0.4;
}

.main__slideshow__button__prev:disabled .main__slideshow__path__prev {
  fill: #FCFCFC;
}


.main__slideshow__button__next {
  position: absolute;
  right: -4px;
  top: 258px;
}

.main__slideshow__icon__next {
  position: relative;
  left: 2px;
  top: 1px;
}

.main__slideshow__button__next:hover {
  background-color: #FCFCFC;
}

.main__slideshow__button__next:hover .main__slideshow__path__next {
  fill: #2D3440;
}

.main__slideshow__button__next:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
}

.main__slideshow__button__next:active .main__slideshow__path__next {
  fill: #2D3440;
}

.main__slideshow__button__next:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: #2D3440;
}

.main__slideshow__button__next:focus .main__slideshow__path__next {
  fill: #2D3440;
}

.main__slideshow__button__next:disabled {
  background-color: transparent;
  border-color: #FCFCFC;
  opacity: 0.4;
}

.main__slideshow__button__next:disabled .main__slideshow__path__next {
  fill: #FCFCFC;
}

.main__slideshow__item__small {
  padding: 0 17px;
  opacity: 40%;
  position: relative;
}

.main__slideshow__item__small::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFCBD8;
  z-index: -1;
}

.main__social__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 2px;
  bottom: 7px;
  display: flex;
  flex-wrap: wrap;
  max-width: 208px;
  column-gap: 16px;
  row-gap: 10px;
}

.main__social__item {
  width: 24px;
  height: 24px;
}

.main__social__link {
  display: block;
  position: relative;
}

.main__social__link:hover::before {
  position: absolute;
  left: 4px;
  top: 4px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2D3440;
  z-index: -1;
}

.main__social__link:active::before {
  position: absolute;
  left: 4px;
  top: 4px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2D3440;
  opacity: 0.5;
  z-index: -1;
}

.main__social__link:focus::before {
  position: absolute;
  left: 4px;
  top: 4px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2D3440;
  z-index: -1;
}

.main__social__link:focus .main__social__icon__stroke {
  stroke: #2D3440;
  stroke-opacity: 100%;
}

/* Баннеры */

.main__banners {
  display: flex;
  flex-direction: column;
  margin-bottom: 82px;
}

.main__banners__slogan {
  color: #2D3440;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0 auto 55px;
}

.main__banners__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main__banners__item {
  width: 570px;
  padding: 36px 216px 36px 36px;
  box-sizing: border-box;
  background-color: #FF7799;
  color: #2D3440;
  border-radius: 16px;
}

.main__banners__item__raspberry {
  background-image: url(../images/main__index/raspberries__banners__main.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.main__banners__item__marchmallow {
  background-image: url(../images/main__index/marshmallow__banners__main.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.main__banners__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
}

.main__banners__text {
  margin: 0;
  margin-bottom: 27px;
}

/* Категории */

.main__categories {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.main__categories__slogan {
  color: #2D3440;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0 auto 106px;
}

.main__categories__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  column-gap: 30px;
  row-gap: 91px;
}

.main__categories__item {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #FCFCFC;
  border-radius: 8px;
  width: 270px;
  padding: 133px 40px 24px;
  box-sizing: border-box;
}

.main__categories__image {
  position: absolute;
  top: -51px;
  left: 51px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.main__categories__title {
  color: #2D3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto 8px;
}

.main__categories__text {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.main__categories__price__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  justify-content: space-between;
  align-items: center;
}

.main__categories__price {
  color: #2D3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.main__categories__button__icon {
  position: absolute;
  bottom: 7px;
  right: 7px;
}

.main__categories__button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FF2F64;
}

.main__categories__button:hover .main__categories__button__path {
  fill: #2D3440;
}

.main__categories__button:active {
  background-color: #FFCBD8;
  border: 2px solid #FF2F64;
}

.main__categories__button:active .main__categories__button__path {
  fill: #2D3440;
}

.main__categories__button:focus {
  background-color: #FF2F64;
  border: 2px solid #2D3440;
}

.main__categories__button:focus .main__categories__button__path {
  fill: #FCFCFC;
}

.main__categories__button:disabled {
  background-color: #B9B9B9;
  border: 2px solid #B9B9B9;
}

.main__categories__button:disabled .main__categories__button__path {
  fill: #565C66;
}

/* О магазине */

.main__profile {
  width: 1170px;
  padding: 24px;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 79px;
  background-image: url(../images/main__index/waffle-background__main.jpg);
  background-color: #ebdfc4;
  color: #565C66;
  background-size: cover;
  background-repeat: repeat-x;
  border-radius: 16px;
}

.main__profile__wrapper {
  width: 1122px;
  padding: 57px 40px;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.main__profile__text__main {
  color: #2D3440;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0 auto 55px;
}

.main__profile__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 506px 506px;
  column-gap: 31px;
  row-gap: 40px;
}

.main__profile__item {
  padding-left: 64px;
}

.main__profile__item__icecream {
  position: relative;
}

.main__profile__item__icecream::before {
  content: url(../images/main__index/icecream-icon__main.svg);
  position: absolute;
  left: 0;
  top: 0;
}

.main__profile__item__moo {
  position: relative;
}

.main__profile__item__moo::before {
  content: url(../images/main__index/moo-icon__main.svg);
  position: absolute;
  left: 0;
  top: 0;
}

.main__profile__item__leaf {
  position: relative;
}

.main__profile__item__leaf::before {
  content: url(../images/main__index/leaf-icon__main.svg);
  position: absolute;
  left: 0;
  top: 0;
}

.main__profile__item__temp {
  position: relative;
}

.main__profile__item__temp::before {
  content: url(../images/main__index/thermometer-icon__main.svg);
  position: absolute;
  left: 0;
  top: 0;
}

.main__profile__text__minor {
  margin: 0;
}

/* Блог */

.main__blog__subscription__wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 80px;
}

.main__blog {
  width: 570px;
  padding: 33px 32px 68px 33px;
  border-radius: 16px;
  box-sizing: border-box;
  margin: 0;
  background-image: url(../images/main__index/blog-background__main.jpg);
  background-color: #ffffff;
  color: #565C66;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

.main__blog__new {
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
}

.main__blog__link {
  display: block;
  color: #2D3440;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  width: 303px;
  margin: 0;
}

/* Подписка */

.main__subscription {
  height: -webkit-fill-available;
  padding: 6px;
  box-sizing: border-box;
  margin: 0;
  background-image: url(../images/main__index/subscription-background__main.jpg);
  background-color: #FCFCFC;
  color: #565C66;
  background-size: cover;
  background-repeat: repeat-x;
  border-radius: 16px;
}

.main__subscription__wrapper {
  width: 558px;
  padding: 26px 26px 18px 26px;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.main__subscription__text {
  margin: 0;
  margin-bottom: 44px;
}

.main__subscription__form__input {
  width: 332px;
  margin: 0 14px 10px 0;
}

/* Доставка */

.main__delivery {
  display: flex;
  column-gap: 135px;
  row-gap: 30px;
  padding: 64px 64px 64px 100px;
  margin-bottom: 80px;
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
  background-image: url(../images/main__index/delivery-background__main.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f3f3f4;
}

.main__delivery__text__wrapper {
  width: 381px;
  margin: 0;
  margin-top: 104px;
}

.main__delivery__title {
  color: #2D3440;

  font-weight: 900;
  font-size: 32px;
  line-height: 46px;

  margin: 0;
  margin-bottom: 24px;
}

.main__delivery__text {
  margin: 0;
}

.main__delivery__form__wrapper {
  width: 500px;
  padding: 40px 75px 42px 40px;
  box-sizing: border-box;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.main__delivery__form__text {
  margin: 0;
  margin-bottom: 32px;
}

.main__delivery__form {
  display: grid;
  width: 420px;
  grid-template-columns: 117px 287px;
  grid-gap: 20px 16px;
}

.field__group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main__delivery__form__address {
  grid-column: 1 / -1;
}

.main__delivery__form__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 8px;
}

.main__delivery__form__input {
  margin: 0;
  line-height: 20px;
}

.main__delivery__form__button {
  grid-column: 2/3;
  width: 152px;
  margin-top: 12px;
  margin-left: 1px;
}

.main__tooltip {
  position: absolute;
  margin: 3px 0 3px 4px;
  width: 14px;
  height: 14px;
}

.main__tooltip__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.main__tooltip__icon {
  width: 100%;
  height: 100%;
  display: block;
}

.main__tooltip__text {
  background-color: #FFFFFF;
  color: #565C66;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  padding: 10px 8px;
  border: 1px solid #B9B9B9;
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  min-width: 163px;
  position: absolute;
  left: 25px;
  bottom: -25px;
  display: none;
}

.main__tooltip__text::before {
  content: url(../images/main__index/tooltip-arrow__main.svg);
  width: 7px;
  height: 14px;
  position: absolute;
  left: -7px;
  top: 14px;
}

.main__tooltip__text__date {
  bottom: -23px;
}

.main__tooltip__button:hover + .main__tooltip__text,
.main__tooltip__button:focus + .main__tooltip__text {
  display: block;
}

/* Адрес */

.main__address {
  padding: 64px 0 64px 64px;
  border-radius: 16px;
  box-sizing: border-box;
  background-image: url(../images/main__index/address-background__main.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-color: #ebe3e3;
  color: #565C66;
}

.main__address__wrapper {
  width: 343px;
  padding: 40px 40px 42px 40px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #FCFCFC;
  color: #565C66;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.main__address__text__minor {
  margin: 0;
  margin-bottom: 12px;
}

.main__address__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  color: #2D3440;
  margin: 0;
  margin-bottom: 24px;
}

.main__address__phone__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.main__address__text__minor__extra {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 32px;
}

.main__address__link {
  display: block;
  text-decoration: none;
  width: 250px;
  padding: 12px 32px;
}

.main__address__link::after {
  width: 250px;
}

/* Подвал */

.footer {
  width: 1170px;
  padding: 46px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* Социальные сети */

.footer__social__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 106px;
  gap: 17px;
}

.footer__social__item {
  width: 24px;
  height: 24px;
}

.footer__social__link {
  display: block;
  position: relative;
}

.footer__social__link:hover::before {
  position: absolute;
  left: 4px;
  top: 4px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2D3440;
  z-index: -1;
}

.footer__social__link:active::before {
  position: absolute;
  left: 4px;
  top: 4px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2D3440;
  opacity: 0.5;
  z-index: -1;
}

.footer__social__link:focus::before {
  position: absolute;
  left: 4px;
  top: 4px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2D3440;
  z-index: -1;
}

.footer__social__link:focus .footer__social__icon__stroke {
  stroke: #2D3440;
  stroke-opacity: 100%;
}

/* Дополнительная информация */

.footer__extra-information__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 325px;
  display: grid;
  grid-template-columns: 126px 182px;
  column-gap: 24px;
  row-gap: 6px;
}


.footer__extra-information__link {
  text-decoration: none;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
}

.footer__extra-information__link__current {
  font-weight: 700;
  position: relative;
}

.footer__extra-information__link__current::before {
  content: url(../images/footer/heart-icon__footer.svg);
  position: absolute;
  left: -23px;
  top: 1px;
}

/* Копирайт */

.footer__copyright {
  padding-top: 2px;
  margin: 0;
  margin-left: 200px;
}

.footer__copyright__link {
  display: block;
  margin-bottom: 9px;
}

.footer__copyright__text {
  color: #2D3440;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.footer__copyright__link__small {
  color: inherit;
}

/* Модальное окно */

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  display: none;
}

.modal__request {
  position: relative;
  margin: auto;
  padding: 64px 64px 66px 64px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 570px;
  box-sizing: border-box;
}

.modal__button__close {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: #FCFCFC;
  border: none;
  background-image: url("../images/modal/close-icon__modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal__content {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.modal__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
}

.modal__content__form {
  display: grid;
  grid-template-columns: 442px;
  row-gap: 16px;
}

.modal__content__form__input {
  width: 442px;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.modal__content__form__input__text {
  min-height: 149px;
}

.modal__content__form__button {
  margin-top: 16px;
  margin-left: auto;
}


/* Страница каталога */

/* Хедер каталога */

.header__navigation__link__catalog__current::after {
  content: url(../images/header/arrow-up-white__header.svg);
  position: absolute;
  right: 17px;
  top: -2px;
}

/* Основная часть - каталог */

.main__catalog {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Хлебные крошки */

.catalog__breadcrumbs {
  color: #2D3440;
  margin: 30px 0 40px 0;
  position: relative;
  padding-bottom: 62px;
}

.catalog__breadcrumbs__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  position: absolute;
  bottom: -1px;
}

.catalog__breadcrumbs__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  column-gap: 28px;
  row-gap: 10px;
}

.catalog__breadcrumbs__item {
  position: relative;
}

.catalog__breadcrumbs__item::after {
  content: url(../images/catalog/breadcrumbs-arrow-icon__catalog.svg);
  position: absolute;
  right: -19px;
  top: -2px;
}

.catalog__breadcrumbs__item:last-child::after {
  content: none;
}

.catalog__breadcrumbs__link {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.catalog__breadcrumbs__link__current {
  text-decoration: underline;
}

/* Фильтер */

.catalog__filter {
  color: #2D3440;
  margin: 0;
  margin-bottom: 95px;
}

.catalog__filter__form {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  margin: 0;
}

.catalog__filter__group__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  row-gap: 15px;
}

.wrapper__upper {
  column-gap: 24px;
}

.wrapper__lower {
  column-gap: 18px;
}

.catalog__filter__group {
  display: flex;
  flex-direction: column;
}

.catalog__filter__group__title {
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 0 16px;
  margin-bottom: 8px;
}

.select-control {
  width: 196px;
  height: 36px;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding-left: 16px;
  appearance: none;
}

.select-control:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.select-control:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  outline: 0;
}

.range {
  width: 196px;
  height: 36px;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding-left: 16px;
  box-sizing: border-box;
  position: relative;
}

.range__bar {
  position: absolute;
  top: 19px;
  width: 164px;
  height: 2px;
  background-color: #565C66;
  opacity: 0.3;
}

.range__toggle {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background-color: #2D3440;
  opacity: 100%;
}

.toggle__min {
  position: absolute;
  left: 40px;
  top: 11px;
}

.toggle__max {
  position: absolute;
  left: 112px;
  top: 11px;
}

.range__toggle__spot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #FCFCFC;
}

.toggle__min:hover {
  background-color: #FCFCFC;
}

.toggle__min:hover .range__toggle__spot {
  background-color: #2D3440;
}

.toggle__max:hover {
  background-color: #FCFCFC;
}

.toggle__max:hover .range__toggle__spot {
  background-color: #2D3440;
}

.toggle__min:active {
  background-color: #2D3440;
}

.toggle__min:active .range__toggle__spot {
  background-color: #2D3440;
}

.toggle__max:active {
  background-color: #2D3440;
}

.toggle__max:active .range__toggle__spot {
  background-color: #2D3440;
}

.toggle__min:focus {
  border: 2px solid #2D3440;
  background-color: #FCFCFC;
}

.toggle__min:focus .range__toggle__spot {
  position: relative;
  left: -2px;
  background-color: #2D3440;
}

.toggle__-max:focus {
  border: 2px solid #2D3440;
  background-color: #FCFCFC;
}

.toggle__max:focus .range__toggle__spot {
  position: relative;
  left: -2px;
  background-color: #2D3440;
}

.catalog__filter__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 10px;
  width: 383px;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding: 8px 24px 8px 24px;
  margin: 0;
  box-sizing: border-box;
}

.control {
  display: block;
  padding-left: 24px;
  position: relative;
}

.control__input[type="radio"] + .control__mark {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #2D3440;
  border-radius: 50%;
  position: absolute;
  left: -2px;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2D3440;
}

.control__input:hover[type="radio"] + .control__mark {
  border: 2px solid #FCFCFC;
}

.control__input:hover[type="radio"]:checked + .control__mark::before {
  background-color: #fcfcfc;
}

.control__input:disabled[type="radio"] + .control__mark {
  opacity: 50%;
}

.control__input:disabled[type="radio"]:checked + .control__mark::before {
  opacity: 50%;
}

.control__label {
  font-size: 14px;
  line-height: 20px;
}

.catalog__filter__list__fillers {
  width: 604px;
}

.control__input[type="checkbox"] + .control__mark {
  position: absolute;
  top: 4px;
  left: 1px;
  content: url(../images/catalog/checked-false-icon__catalog.svg);
}

.control__input:hover[type="checkbox"] + .control__mark {
  content: url(../images/catalog/checked-false-icon-white__catalog.svg);
}

.control__input:disabled[type="checkbox"] + .control__mark {
  opacity: 50%;
}

.control__input[type="checkbox"]:checked + .control__mark {
  content: none;
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  position: absolute;
  top: -1px;
  content: url(../images/catalog/checked-icon__catalog.svg);
}

.control__input:hover[type="checkbox"]:checked + .control__mark::before {
  content: url(../images/catalog/checked-icon-white__catalog.svg);
}

.control__input:disabled[type="checkbox"]:checked + .control__mark::before {
  opacity: 50%;
}

/* Результаты поиска */

.catalog__results {
  margin-top: 20px;
}

.catalog__results__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  column-gap: 30px;
  row-gap: 91px;
}

.catalog__results__item {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #FCFCFC;
  border-radius: 8px;
  width: 270px;
  padding: 133px 40px 24px;
  box-sizing: border-box;
}

.catalog__results__image {
  position: absolute;
  top: -51px;
  left: 51px;
}

.catalog__results__title {
  color: #2D3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto 8px;
}

.catalog__results__text {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.catalog__results__price__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  justify-content: space-between;
  align-items: center;
}

.catalog__results__price {
  color: #2D3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog__results__button__icon {
  position: absolute;
  bottom: 7px;
  right: 7px;
}

.catalog__results__button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FF2F64;
}

.catalog__results__button:hover .catalog__results__button__path {
  fill: #2D3440;
}

.catalog__results__button:active {
  background-color: #FFCBD8;
  border: 2px solid #FF2F64;
}

.catalog__results__button:active .catalog__results__button__path {
  fill: #2D3440;
}

.catalog__results__button:focus {
  background-color: #FF2F64;
  border: 2px solid #2D3440;
}

.catalog__results__button:focus .catalog__results__button__path {
  fill: #FCFCFC;
}

.catalog__results__button:disabled {
  background-color: #B9B9B9;
  border: 2px solid #B9B9B9;
}

.catalog__results__button:disabled .catalog__results__button__path {
  fill: #565C66;
}

/* Пагинация */

.catalog__pagination {
  margin: 0;
  margin-bottom: 40px;
  padding: 39px 0 41px 488px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;
}

.catalog__pagination__button__minor {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0%;
  position: relative;
}

.minor__left {
  margin-left: auto;
  margin-right: 8px;
}

.minor__right {
  margin-left: 8px;
}

.catalog__pagination__icon__left {
  position: absolute;
  bottom: 1px;
  left: 2px;
}

.catalog__pagination__icon__left__disabled {
  opacity: 30%;
}

.catalog__pagination__icon__right {
  position: absolute;
  bottom: 1px;
  right: 2px;
}

.catalog__pagination__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  row-gap: 5px;
}

.catalog__pagination__item {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__pagination__link {
  text-decoration: none;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
  width: 24px;
  height: 24px;
  padding: 2px 8px;
  box-sizing: border-box;
}

.catalog__pagination__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50px;
}

.catalog__pagination__link:active {
  border: 1px solid #FCFCFC;
  padding-top: 1px;
  padding-left: 7px;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50px;
}

.catalog__pagination__link:focus {
  border: 1px solid #2D3440;
  padding-top: 1px;
  padding-left: 7px;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.3);
  ;
  border-radius: 50px;
}

.catalog__pagination__link__current {
  border-radius: 50%;
  background-color: #FCFCFC;
  padding-left: 8px;
}

/* Футер каталога */

.catalog__footer {
  position: relative;
}

.catalog__footer::before {
  content: "";
  width: 1170px;
  height: 1px;
  background-color: rgba(252, 252, 252, 0.3);
  position: absolute;
  top: 0;
}
